{% extends "landing.html" %}

{% block content %}
<div class="w-full overflow-x-hidden">
    {% include 'landing/_01_loader.html' %}
    {% include 'landing/_02_hero.html' %}
    {% include 'landing/_03_call.html' %}
    {% include 'landing/_04_oath.html' %}
    {% include 'landing/_05_today.html' %}
    {% include 'landing/_06_habits.html' %}
    {% include 'landing/_07_reflect.html' %}
    {% include 'landing/_08_progress.html' %}
    {% include 'landing/_09_final_cta.html' %}
</div>
{% endblock %}
